.DS_Store
.RData
.Rapp.history
.Rhistory
.config/
.cups/
.gitconfig
.idlerc/
.ipython/
.lesshst
.local/
.ssh/
.vscode/
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Trash/
leons/
.CFUserTextEncoding
.Trash/
